
body{
  width: 100%;
    max-width: 992px;
    min-width: 768px;
}
header{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  height: min-content;
}  

#logo{
  display: none;
} 


#logo-mobile{
  display: flex;
  max-width: 80%;
  height: 75px;
}

.header-ul{
  display: flex;
  width: 750px;
  padding-inline-start: 0;
  
}
.header-li{
 width: 100%;
}
.texte-li{
  font-size: 18px;
  border-bottom: 2px solid #f2f2f2;
  padding-bottom: 20px;
  padding-left: 30%;
  padding-right: 30%;
  margin-right: 0;
}
.texte-mobile{
  width: 200px;
  margin-right: 120px;
  padding-left: 40%;
  padding-right: 40%;
}

.header-li a:hover{
color: #0065FC;
border-top: none;
border-bottom:2px solid #0065FC;
padding-bottom: 20px;
}

.filtres{
  flex-direction: column;
}

.liste-filtres{
  flex-direction: column;
}
.titre-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
